.auth-form-container {
    width: 450px;
    margin: auto;
    margin-top: 200px;
    height: 800px;

    mat-card {
        height: 100%;

        h1 {
            margin-top: 20px;
            text-align: center;
        }

        mat-card-content {
            height: 82%;

            .auth-form {
                display: flex;
                flex-direction: column;
                margin: 50px;
                height: 100%;

                mat-form-field {
                    margin-bottom: 20px;
                }

                .to-sign-up {
                    margin: auto;
                    display: flex;
                    flex-direction: column;

                    button {
                        text-decoration: none;
                        box-shadow: none;
                        border: none;
                        background: none;
                        padding: 0;
                        margin: 0;
                        cursor: pointer;
                        color: dodgerblue;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.spacer {
    flex-grow: 1;
}
