.wraping-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

app-reservation-calendar {
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

eb-edit-box {
    margin-top: 50px;
    width: 80%;
    max-width: 1000px;
}
