<mat-card>
    <mat-card-content>
        <mat-calendar [(selected)]="selected"></mat-calendar>

        <table class="table"
               mat-table
               [dataSource]="reservations">
            <ng-container matColumnDef="service">
                <th mat-header-cell
                    *matHeaderCellDef> Service </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.service}} </td>
            </ng-container>

            <ng-container matColumnDef="subOption">
                <th mat-header-cell
                    *matHeaderCellDef> Option </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.subOption}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell
                    *matHeaderCellDef> Date </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.date | date:'MMM d hh:mm'}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell
                    *matHeaderCellDef> Name </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell
                    *matHeaderCellDef> Phone Number </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.phoneNumber}} </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
    </mat-card-content>
</mat-card>
