.wraping-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

irc-reservation-calendar {
    width: 500px;
    margin-top: 50px;
}

eb-edit-box {
    width: 80%;
    max-width: 1000px;
    margin-top: 50px;
}

app-reservations {
    margin: 50px;
}
