<div>
    <div class="widget-card">
        <mat-card class="calendar-card">
            <mat-calendar [(selected)]="selected"
                          [minDate]="systemConfig.minDate"
                          [maxDate]="systemConfig.maxDate"
                          [dateFilter]="dateFilter"
                          [dateClass]="dateClass"></mat-calendar>
        </mat-card>
        <rc-selected-date-container [selected]="selected"
                                    [selectDateMessage]="systemConfig.selectDateMessage"
                                    [businessHours]="systemConfig.hours"
                                    (selectedDateTime)="onSelectDateTime($event)"></rc-selected-date-container>
    </div>
</div>
